.mainContent{
    padding: 1rem 0;
    user-select: none;
}

.separator{
    margin: 1rem 0;
}

.title{
    color: red;
    text-align: center;
    margin: 2rem 0;
}

.section{
    display: flex;
    align-items: center;
    position: relative;
}

.list{
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

.arrow{
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    color: white;
    border: 1px solid white;
    border-radius: 100%;
}