*, *::after,*::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(0, 0, 0, 0.75);
}

.container{
  max-width: 90%;
  margin: 0 auto;
}


img{
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
}