*, *::after,*::before{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(0, 0, 0, 0.75);
}

.container{
  max-width: 90%;
  margin: 0 auto;
}


img{
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
}

/*TEST FADE IN/OUT*/
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1500ms;
}